body {
    background-color: #f0f8ff;
}

.hero-body {
    background-color: #ff9776;
    text-align: center;
}

.hero .title {
    color: white;
}

.hero .subtitle {
    color: white;
}

h2.title {
    color: #03002c;
    text-align: center;
}

h3.title {
    color: #04322e;
}

ul.is-size-5 li {
    padding: 8px 0; 
}

.icon-box {
    font-size: 48px; 
    margin-bottom: 16px; 
    color: #35d0ba;
}

.button.is-rounded {
    margin-top: 16px; 
}
